<div class="container m-3">
  <div class="container-fluid d-flex justify-content-left">
    <div *ngIf="articles.length; else emptyList">
      <span *ngFor="let art of articles">
        <mat-card class="mt-4 me-3">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title [innerHTML]="art.titolo"></mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <span [innerHTML]="textSeparator(art.contenuto)"></span>
            <button class="btn btn-secondary btn-sm mt-3" (click)="reading(art.id)">Continue reading</button>
          </mat-card-content>
        </mat-card>
    </span>
  </div>
  <ng-template #emptyList>
    <h2 class="d-flex justify-content-center">Non ci sono ancora articoli da visualizzare...</h2>
  </ng-template>
</div>
