<div class="container m-3">
  <div class="container-fluid d-flex justify-content-left">
    <div *ngIf="articles.length; else emptyList">
      <div class="row mt-3">
        <form [formGroup]="orderForm">
          <p-checkbox formControlName="asc" label="Least voted" [binary]="true" (onChange)="clickMe()"></p-checkbox>
          <p-checkbox formControlName="desc" label="Most voted" [binary]="true" (onChange)="clickMe()" class="mx-3"></p-checkbox>
          <p-checkbox formControlName="likes" label="Most liked" [binary]="true" (onChange)="clickMe()"></p-checkbox>
        </form>
      </div>
      <span *ngFor="let art of articles">
        <mat-card class="mt-4 me-3">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title [innerHTML]="art.titolo"></mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <span [innerHTML]="textSeparator(art.contenuto)"></span>
            <button class="btn btn-secondary btn-sm mt-3" (click)="reading(art.id)">Continue reading</button>
          </mat-card-content>
        </mat-card>
    </span>
  </div>
  <ng-template #emptyList>
    <h2 class="d-flex justify-content-center">There are no articles to read yet...</h2>
  </ng-template>
</div>
